<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotifyLights.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotifyLights.Properties.Settings>
            <setting name="mqttHost" serializeAs="String">
                <value>broker.hivemq.com</value>
            </setting>
            <setting name="mqttPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="mqttColdWhiteTopic" serializeAs="String">
                <value>wawrov/sideLight/CWB</value>
            </setting>
            <setting name="mqttWarmWhiteTopic" serializeAs="String">
                <value>wawrov/sideLight/WWB</value>
            </setting>
        </NotifyLights.Properties.Settings>
    </userSettings>
</configuration>